<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="mukavemet.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
    
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <userSettings>
    <mukavemet.Properties.Settings>
      <setting name="CpuType" serializeAs="String">
        <value>S7300</value>
      </setting>
      <setting name="IP" serializeAs="String">
        <value>192.168.4.5</value>
      </setting>
      <setting name="Rack" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="Slot" serializeAs="String">
        <value>2</value>
      </setting>
      <setting name="CpuTypeIndex" serializeAs="String">
        <value>2</value>
      </setting>
      <setting name="BendActAddr" serializeAs="String">
        <value>DB1.DBD44</value>
      </setting>
      <setting name="BendMaxAddr" serializeAs="String">
        <value>DB1.DBD40</value>
      </setting>
      <setting name="PresActAddr" serializeAs="String">
        <value>DB1.DBD44</value>
      </setting>
      <setting name="PresMaxAddr" serializeAs="String">
        <value>DB1.DBD40</value>
      </setting>
      <setting name="MeasureAddr" serializeAs="String">
        <value>M10.1</value>
      </setting>
      <setting name="SelectAddr" serializeAs="String">
        <value>M10.0</value>
      </setting>
      <setting name="Auth" serializeAs="String">
        <value>0000</value>
      </setting>
      <setting name="BendCoef" serializeAs="String">
        <value>0.00234</value>
      </setting>
      <setting name="PresCoef" serializeAs="String">
        <value>0.000625</value>
      </setting>
    </mukavemet.Properties.Settings>
  </userSettings>
  <entityFramework>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
      <provider invariantName="System.Data.SQLite.EF6" type="System.Data.SQLite.EF6.SQLiteProviderServices, System.Data.SQLite.EF6" />
    </providers>
  </entityFramework>
  
</configuration>